{%extends 'base.html' %}

{% block content %}
        	<h3><a href="/request/create "class="btn btn-large btn-info">Post a Request</a></h1><br><br>

<table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>District</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
    	{% for request in list %}	
      	<tr>
        	<td><a href="/request/{{request.id}}">{{request.name}}</a></td>
        	<td>{{request.district}}</td>
        	<td>{{request.date_of_request}}</td>
      	</tr>
      	{% endfor%}
    </tbody>
  </table>
{% endblock %}